# Node
node_modules/
client/node_modules/
server/node_modules/

# Build
client/build/
client/dist/
server/dist/

# Cache
.cache/
client/.cache/
server/.cache/
client/node_modules/.cache/
server/node_modules/.cache/

# Environment
.env
.env.*
client/.env
server/.env

# Logs & system
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Optional
uploads/
